<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lyrics</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/styles.css" type='text/css'>
</head>
<body>
<div class="page-header">
    <h1><a href="/">Lyrics</a></h1>
</div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <form method="post" class='post' action="/post/<%=post.id%>/edit">
                <label for="team_name">Enter title: </label>
                <input id="title" type="text" name="title" value=<%= post.title %> />

                <label for="team_name">Enter text: </label>
                <textarea id="text" name="text"><%= post.text.replaceAll('<br/>', '\r\n') %></textarea>

                <input type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>
</body>
</html>
